/* Stylesheet for MS1 project by Mikael Lindberg */

body {
    margin: 0;
	padding: 0;
    background-color: #423939; 
    color: #fafafa;
    font-family: "Roboto", "Dancing script", sans-serif;
}

.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;  
}

/* Header / navbar */

.navbar {
    height: 60px;
    margin: 0 0;
    padding: 0 10px 5px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.navbar-brand {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.brand-name {
    font-family: "Dancing script", sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 400;
    line-height: 0.7;
}

br {
    margin: 0;
    padding: 0;
}

.navbar-nav, .nav-item {
    padding: 20px 0 7px 20px;
    padding-top: 22px;
    font-size: 22px;
}

/* MAin section */

.main-section {
    background: url("../img/background4.jpg") no-repeat center;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
}

.opaque-overlay { /* ok*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.row {
    margin-top: 60px;
    padding: 10px 20px 0 20px;
}

.main-pics {
    margin: 15% 2% 15% 2%;
    padding: 0;
    max-width: 90%;
    height:600px;
    text-align: center;
}

#mainsection-pic {
    height: 100%;
    max-width: 100%;
    display: inline-block;
    border-radius: 50%;
}

.main-text {
    margin: 15% 15% 15% 15%;
    max-width: 75%;
    height:600px;
}

.main-text h2 {
    font-family: "Dancing script", sans-serif;
    font-size: 72px;
    text-align: center;
    padding-bottom: 30px;
}

.main-text p {
    font-size: 28px;
    text-align: center;
}

.main-text ul {
    margin: 0;
    padding-top: 20px;
    list-style: none;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    line-height: 2.0;
}

.services-pics {
    margin: 15% 10% 15% 10%;
    padding: 0;
    max-width: 600px;
    height: 600px;
    text-align: center;
}

#services-pic {
    margin-top: 20px;
    height: 90%;
    max-width: 90%;
    display: inline-block;
    border-radius: 20px;
}

.gallery-text h2 {
    font-family: "Dancing script", sans-serif;
    font-size: 72px;
    text-align: center;
    padding: 20px 0 30px 0;
}

.gallery-text p {
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
}

#contact-pic {
    margin-top: 20px;
    height: 90%;
    max-width: 90%;
    display: inline-block;
    border-radius: 20px;
}

.signup-form {
    margin-top: 10px;
    color: #fafafa;
    background-color: rgba(60,60,60, .6);
    max-width: 600px;
    position: relative;
    padding: 30px;
}

.signup-form h5 {
    padding-bottom: 20px;
    text-align: center;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

textarea {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 75px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

textarea:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #3b3838;
    color:  #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #808080;
    color: #fafafa;
    border-color: #f16c6b;
}

/* Footer */

footer {
    margin: 0;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fafafa;
    height: 80px;
    text-align: center;
}